<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Include fontawesome icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Rubik font -->
    <link rel="https://fonts.googleapis.com/css?family=Rubik"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"
  </head>
  <body>
    <nav>
      <a href="{{ url_for('homepage') }}">Home</a>
      <a href="{{ url_for('jake') }}">Chat</a>
    </nav>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
