body {
  background: white;
  color: maroon;
  font-family: "Rubik", sans-serif;
  line-height: 1.45;
  margin: 1rem auto 1rem;
  padding: .25rem;
}

nav {
  margin: auto;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: .25rem;
  background-color: firebrick;
  width: 81%;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  color: white;
  padding: 1rem 1rem;
}

nav a:hover {
  background-color: crimson;
}

input {
  font-family: "Rubik", sans-serif;
  line-height: 1.45;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid firebrick;
  background-color: #D3D3D3;
  box-sizing: border-box;
}

input[type=chat] {
  width: 100% 
}

.content {
  margin: auto;
  width: 80%;
}

.messages {
  background-color: #D3D3D3;
  width: 100%;
  min-height 1rem;
  margin: 1rem auto 1rem;
  padding: .25rem;
  border-radius: 4px;
}
